@using Microsoft.AspNet.Identity;
@using UserRoles = AMS.Models.Enums.Roles;
<!DOCTYPE html>
<html ng-app="AMS">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>AMS</title>
    @*<link href="css/styles.css" rel="stylesheet" />*@
    <link href="~/Content/SubDashboard.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    @*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />*@
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js ">*@
    @*ui-slect theme*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link href="~/Content/UiSelect2/Select.css" rel="stylesheet" />
    <link href="~/Content/toaster.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" integrity="sha512-LeCmts7kEi09nKc+DwGJqDV+dNQi/W8/qb0oUSsBLzTYiBwxj0KBlAow2//jV7jwEHwSCPShRN2+IWwWcn1x7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha512-UyNhw5RNpQaCai2EdC+Js0QL4RlVmiq41DkmCJsRV3ZxipG2L0HhTqIf/H9Hp8ez2EnFlkBnjRGJU2stW3Lj+w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.1.2/typicons.min.css" integrity="sha512-/O0SXmd3R7+Q2CXC7uBau6Fucw4cTteiQZvSwg/XofEu/92w6zv5RBOdySvPOQwRsZB+SFVd/t9T5B/eg0X09g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="sb-nav-fixed" ng-controller="baseCtrl" ng-class="ServiceClassBinder" ng-cloak>
    <toaster-container toaster-options="{'time-out': 7000}"></toaster-container>
    <div class="loader" ng-if="TotalNumberOfServicesRunning > 0"></div>
    <nav class="sb-topnav navbar navbar-expand navbar-dark topnavcolor">

        <h3 style="font-size: 46px;"><a href="" style="color:white">SharpTel</a></h3>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            @*<div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>*@
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            @*<li class="nav-item">
                    <a><i class="fas fa-bell"></i></a>
                </li>*@
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sidenavcolor" id="sidenavAccordion">
                <div class="sb-sidenav-menu font-12" style="margin-top : 18px;">
                    <div class="nav">
                        <a class="nav-link" href="~/Home">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        @*<div class="sb-sidenav-menu-heading" style="padding-top:0px;">Interface</div>*@


                        @if (User.IsInRole(UserRoles.Employee) || User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#profle" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Profile
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="profle" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Profile/Index">Profile</a>
                                </nav>
                            </div>
                        }
                        @if (User.IsInRole(UserRoles.Employee))
                        {
                            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#attend" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Attendance
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="attend" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/AgentAttendance/Index">My Attendence</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#leave" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Leave
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="leave" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Leave/Index">My Leaves</a>
                                </nav>
                            </div>
                            @*<a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#payrcd" aria-expanded="false" aria-controls="pagesCollapseTickets">
                Pay Record
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="payrcd" aria-labelledby="headingthree">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/PayRecord/Index">Pay Record</a>
                </nav>
            </div>*@
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#marksignoff" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Mark Sign Off
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="marksignoff" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a href="#" data-toggle="modal" data-target="#SignOffModal"><i class="fas fa-sign-out-alt"></i> Mark Sign Off Time<i class="fas fa-caret-right NavbarLink"></i></a>
                                </nav>
                            </div>
                        }


                        @if (User.IsInRole(UserRoles.SuperAdmin))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseDepartment12" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                HR
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseDepartment12" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/User/AddAdmin">Add HR</a>
                                </nav>
                            </div>
                        }
                        @if (User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseDepartment1" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                User
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseDepartment1" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/User/Add">Add User</a>
                                    <a class="nav-link" href="/User/">Users</a>
                                </nav>
                            </div>
                        }
                        @if (User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseDepartment" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Department
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseDepartment" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Department/Add">Add Department</a>
                                    <a class="nav-link" href="/Department/">Departments</a>
                                </nav>
                            </div>}
                        @if (User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseTax" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Taxes
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseTax" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Tax/">Taxes</a>
                                    <a class="nav-link" href="/Tax/Add">Add Tax</a>
                                </nav>
                            </div>
                        }
                        @if (User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseInsentive" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Incentives
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseInsentive" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Insentive/">Incentive</a>
                                    <a class="nav-link" href="/Insentive/Add">Add Incentive</a>
                                </nav>
                            </div>
                        }
                        @if (User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseTickets" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Report
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseTickets" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Report/AgentAttendanceReport">Agent Attendance Report</a>
                                </nav>
                            </div>
                        }
                        @if (User.IsInRole(UserRoles.SuperAdmin) || User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAttendance" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Attendance
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAttendance" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/AgentAttendance">My Attendance</a>
                                    <a class="nav-link" href="/AgentAttendance/AgentAttendance">Agent Attendance</a>
                                    <a class="nav-link" href="/AgentAttendance/StaffAttendance">Staff Attendance</a>
                                </nav>
                            </div>
                        }
                        @if (User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#leave" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Leave
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="leave" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Leave/Index">My Leaves</a>
                                    <a class="nav-link" href="/Leave/Requests">Leave Requests</a>
                                </nav>
                            </div>
                        }
                        @if (User.IsInRole(UserRoles.HR))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseUpload" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Upload
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseUpload" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Hiring/">Hiring Process/Approvals</a>
                                    <a class="nav-link" href="/AgentAttendance/">Profile/Documents</a>
                                    <a class="nav-link" href="/AgentAttendance/">Performance Review/Achievement</a>
                                    <a class="nav-link" href="/AgentAttendance/">Exit Employee/Final Settlement</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#marksignoff" aria-expanded="false" aria-controls="pagesCollapseTickets">
                                Mark Sign Off
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="marksignoff" aria-labelledby="headingthree">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a href="#" data-toggle="modal" data-target="#SignOffModal"><i class="fas fa-sign-out-alt"></i> Mark Sign Off Time<i class="fas fa-caret-right NavbarLink"></i></a>
                                </nav>
                            </div>
                        }

                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">

            @RenderBody()

        </div>
        <div id="SignOffModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Sign off confirmation
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center">Are you sure?</h5>
                    </div>
                    <div class="modal-footer">
                        <div class="btn btn-danger" data-dismiss="modal">
                            No
                        </div>
                        <div class="btn btn-success" ng-click="MarkAgentSignOff()" data-dismiss="modal">
                            Yes
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/UiSelect2/Select.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/toaster.js"></script>
    @Scripts.Render("~/Content/js/Angular/AngularBundle")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/js/angular-chart.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/js/angular-chart.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>
    <script src="~/Scripts/FileSaver.js"></script>
    @*<script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>*@

    @*<script>
            $(document).ready(function () {
                $('#dataTable').DataTable({
                    "paging": false,
                    "bInfo": false,
                    "bFilter": false,
                    "bProcessing": false

                });
            });
        </script>*@
    <script>
        (function ($) {
            "use strict";

            // Add active state to sidbar nav links
            var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
            $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function () {
                if (this.href === path) {
                    $(this).addClass("active");
                }
            });

            // Toggle the side navigation
            $("#sidebarToggle").on("click", function (e) {
                e.preventDefault();
                $("body").toggleClass("sb-sidenav-toggled");
            });
        })(jQuery);
    </script>


</body>
</html>